
.nextword {
    font-size: 50px;
}

form {
    padding: 20px;
}

fieldset {
    border: none;
}

legend {
    margin: 0;
}

label[for="learn-guess-input"] {
    display: block;
    bottom: 50px;
    margin-top: 25px;
    width: auto;
    font-size: 15px;
}

input[for="learn-guess-input"] {
    position: center;
    margin: 25px 50px 0px 0px;
    height: auto
}

button {
    display: block;
}

footer {
    display: block;
}

@media screen and (max-width: 800px) {
    footer {
        text-align: center;
        padding: 5px;
    }
}