/* https://images.app.goo.gl/ybNR1FbpHGwJ44UM9 */

* {
    box-sizing: border-box;
}

h2 {
    margin: 50px;
}

label {
    display: inline-block;
    width: 150px;
    font-size: 20px;
}

input {
    margin: 15px;
    padding: 5px;
    font-size: 15px;
    font-family: "Ubuntu", sans-serif;
}
