/* ul {
    column-count: 3;
} */

body{
    margin: 0 auto;
}

li {
    list-style: none;
}

.practice {
    display: block;
    /* position: relative;
    margin-left: auto;
    margin-right: auto; */
    text-decoration: none;
    margin: 50px;
    padding: 15px 30px;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    border-radius: 25%;
    background-color:   #FD9404;
    color: black;
    cursor: pointer;
    transition-duration: 0.5s;
  }

h3 {
    text-align: left;
}