/* ul {
    column-count: 3;
} */

body{
    margin: 0 auto;
}


.practice{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    width: 250px;
    margin: 35px;
    padding: 15px 30px; 
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    border-radius: 25%;
    background-color:   #FD9404;
    color: black;
    cursor: pointer;
    transition-duration: 0.5s;
  }

h3 {
    text-align: center;
    display: inline;
    padding: 50px;
}

h4 {
    display: inline;
    text-align: left;
    margin-left: 100px;
    padding: 50px;
}

p {
    display: inline-block;
    text-align: right;
    margin: 20px;
}


li {
    list-style: none;
    padding: 5px;
}

@media screen and (max-width: 800px) {

    h4 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 2px;
    }

    p {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 650px) {
   
    h3 {
        display: block;
        padding: 3px;
    }
}